// fonts
$text-font: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif !default;
$display-font: 'Red Rose', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif !default;

// colors
$color-primary: rgb(53, 26, 78) !default;
$color-secondary: rgb(0, 128, 128) !default;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;
